/*------------------------------------------------Police de texte------------------------------------------------------------------*/
@font-face {
  font-family:'texte1';
  src: url('font/chicken.ttf');
}
@font-face {
  font-family:'texte2';
  src: url('font/florida.ttf');
}
@font-face {
  font-family:'texte3';
  src: url('font/grease.ttf');
}
/*-------------------------------------------------------All----------------------------------------------------------------------*/
body{
  background-color: rgb(255,80,0);
  display: flex;
  flex-wrap: wrap;
  font-family: 'texte2';
}
header{
  background-color: rgb(255,139,0);
  border: 1px solid black;
  box-shadow: 4px 4px 20px black;
  border-radius: 20px;
  text-align: center;
  width: 100%;
}
.logo{
  font-family: 'texte1';
  text-transform: uppercase;
  font-size: 50px;
}
nav{
  background-color: rgb(255,139,0);
  border: 1px solid black;
  box-shadow: 4px 4px 20px black;
  border-radius: 20px;
  text-align: left;
  width: 20%;
  height:400px;
}
ul{
  list-style-type: none;
}
footer{
  background-color: rgb(255,139,0);
  border: 1px solid black;
  box-shadow: 4px 4px 20px black;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/*----------------------------------------------------Accueil--------------------------------------------------------------------*/
#accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79.80%;
}
.buttonInset1{
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 2px 2px 10px black inset;
  width: 70px;
  text-align: center;
}
/*------------------------------------------------------log--------------------------------------------------------------------------------*/
#log{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 79.80%;
  }
.log{
  display: block;
  justify-content: flex-end;
}
.buttonInset2{
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 2px 2px 10px black inset;
  width: 108px;
  text-align: center;
}
/*----------------------------------------------Ce-qu'-est-DuelQuizz------------------------------------------------------------------*/
#keskequizz{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 79.8%;
}
.buttonInset4{
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 2px 2px 10px black inset;
  width: 180px;
  text-align: center;
}
/*----------------------------------------------------sign---------------------------------------------------------------------------------*/
.buttonInset3{
  border: 1px solid black;
  border-radius: 40px;
  box-shadow: 2px 2px 10px black inset;
  width: 70px;
  text-align: center;
}
.welcome{
  text-transform: uppercase;
  font-family: 'texte3';
}
.title{
  font-family: 'texte1';
  text-transform: uppercase;
  font-size: 150px;
}
#sign{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 79.80%;
}
